.button {
font-weight:bold;

background-color:#A69520;
text-transform: uppercase;
font-family: verdana;
border: 1px solid #282727;
font-size: 1.2em;
line-height: 1.25em;
padding: 6px 20px;

cursor: pointer;
color: #000;
text-decoration: none;
cursor: pointer;
color: #000;
text-decoration: none;

border-radius: 12px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
box-shadow: 1px 3px 5px #555;
-moz-box-shadow: 1px 3px 5px #555;
-webkit-box-shadow: 1px 3px 5px #555;

}
