div{
  width: 50% ;
 background:  #ff6666;
 margin-bottom: 30px;
  margin-top:  30px;
  margin-left: auto;
margin-right: auto;
padding: 20px;
font-size: 1.5em;
text-decoration-color: white;

}

@media screen and (max-width:701px)
{
  div{
    background:  #ff6666;
    font-size: 1.5em;
  text-decoration-color: black;
width: 65%;
background: grey;
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding: 50px;


  }

}
